.button {
    background: linear-gradient(135deg,#6004ff,#7f35ff 23.95%,#370097 60.11%,#8d4aff);
}

.yellow {
   background: linear-gradient(269deg, rgb(255, 185, 1) 17.08%, rgb(255, 149, 1) 100%)
}

.transparent {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50.04%, rgba(255, 255, 255, 0.5) 50.85%)
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideOpposite {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.logoslider {
    display: inline-block;
    animation: slide 15s linear infinite;
}

.reviews:hover .logoslider {
    animation-play-state: paused;
}

.logosliderOpposite {
    display: inline-block;
    animation: slideOpposite 15s linear infinite;
}

.reviews {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

/* .reviews:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white )
}

.reviews:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white )

} */

.wrapper {
    position: relative;
    overflow: hidden;
    padding: 60px 0;
  }
  
  .wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .wrapper:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

  @media screen and (max-width: 425px) {
    .wrapper:before {
        width: 100px;
    }
    .wrapper:after {
        width: 100px;
    }
  }